<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--套件 -->
<suite name="futureloan" >
    <!--测试集 -->
    <test name="register">
        <!--测试类集合 -->
        <classes>
        <!--对应的每个测试类 -->
            <class name="com.lemon.auto.V8.cases.LoginCase"/>
        </classes>
    </test>
    <test name="login">
        <!--测试类集合 -->
        <classes>
            <!--对应的每个测试类 -->
            <class name="com.lemon.auto.V8.cases.RechargeCase"/>
        </classes>
    </test>
    <test name="recharge">
        <!--测试类集合 -->
        <classes>
            <!--对应的每个测试类 -->
            <class name="com.lemon.auto.V8.cases.RegisterCase"/>
        </classes>
    </test>
<!--    定义参数 -->
    <parameter name="browserType" value="firefox"></parameter>
    <parameter name="driverpath" value="src/test/chrome"></parameter>

</suite>